
/*TEXTO*/
.comissao {
    padding-bottom: 30px;
    font-family:'Malgun Gothic',sans-serif; 
    text-align:center;
    line-height: 1.3;
    
}
.comissao h1{
    padding-top: 30px;
    padding-bottom: 20px; 
    color: #08708A;
}

.comissao h3{
    padding-bottom: 20px;
    padding-top: 20px;
    color: #08708A;
}


.comissao p{
    padding-bottom: 20px;
}

.comissao ul{
    line-height: 2;
}




    
